/* EMMET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "monacoregular",monospace;
}

/* ******** */



/* COMMON  */

@import url(//db.onlinewebfonts.com/c/0ac87e2140960beafff078e81f279eef?family=Monaco);


:root {
    --red: #a2214e;
    --blue: #27143a;
    --white: #ffff;
    --black: #0000;
}


html {
    height: 100%;
    width: 100%;
}


body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    position: relative;
}


#header {
    width: 100%;
    height: 10%;
    padding: 8px 32px;
    background-color: var(--blue);
    border-bottom: 0.5px solid #cccc;
}

.header-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}


.club-img {
    display: flex;
    align-items: center;
}

.club-img img {
    width: 45px;
    border-radius: 50%;
    margin: auto;
    border: solid 1px var(--red);
}


.club-img:hover img {
    transition: all .1s;
    border: solid 3px var(--red);
}

.nav-container {
    display: flex;
}



.nav-container ul {
    list-style-type: none;
    align-self: center;
}

.nav-container ul > li {
    display: inline-block;
    font-size: 18px;
    padding: 0 8px;
    position: relative;
}


.nav-container li > a::after {
    display: none;
    content: "";
    position: absolute;
    width: 85%;
    bottom: -15px;
}


.nav-container  li:hover > a::after {
    display: block;
    transition: all 0.3s;
    animation: navHover ease-out 0.3s;
    border-bottom: solid 2px #ffff;
} 


.nav-container ul > li > a {
    color: var(--white);
    text-decoration: none;
    font-style: normal!important;
    font-weight: 400!important;
}

#content {
    width: 100%;
    background-color: var(--red);
}



#footer {
    height: 100px;
    width: 100%;
    background-color: var(--red);
    padding: 16px 32px;
    border-top: 0.5px solid #cccc;
} 


.logo-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}


.logo-container img {
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.school-logo {
    display: flex;
    justify-content: space-between;
}

.social-media {
    display: flex;
    justify-content: space-between;
}


.social-media a {
    display: flex;
    text-decoration: none;
}

.social-media i {
    display: inline-block;
    font-size: 20px;
    align-self: center;
    color: var(--white);
    margin: auto;
    padding-left: 8px;
}

.social-media i:hover {
    color: #27143a;
    transition: all 0.3s;
}


.footer-info {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.footer-info p {
    font-weight: 400;
    color: var(--white);
}




/* ****** */








