

/* MAIN TITLE */

.title-container {
    width: 100%;
    height: 140px;
    display: flex;
    background-color: var(--blue);
}


.main-title {
    font-size: 42px;
    color: var(--white);
    margin: auto;
    font-weight: 350;
}

/*   *****   */


/* WRITE UP CONTAINER */

#content {
    background-color: var(--blue);
    min-height: 100%;
}

.content-container {
    padding: 40px 120px!important;
}
.container {
    padding: 40px;
    overflow: hidden;
    line-height: 1.5;
    background-color: rgb(231, 231, 231);
}

.container h1, .container h2, .container h3 {
    margin: 6px 0;
}

.container blockquote {
    border-left: 3px solid black;
    padding-left: 6px;
    background-color: #ccc;
    margin: 12px 0;
}

.container span {
    max-width: 100%;
}


.container a {
    color: black!important;
}


.container code {
    background-color: #ccc;
    color: rgba(10, 10, 10, 0.8);
}

.container p code {
    color: var(--red);
}

.container li code {
    color: var(--red);
}


.container pre {
    background-color: #ccc;
    overflow-x: scroll;
    margin: 12px 0;
    padding: 0 16px;
}

.container img {
    margin: 20px 0;
    max-width: 100%;
}

.container  a img {
    vertical-align: middle;
}
.container hr {
    margin: 12px 0;
    display: block;
}

.container  p img {
    vertical-align: middle;
}

table {
    border: 1px solid rgba(82, 82, 82, 0.8);
    padding: 12px;
}


td {
    padding: 0 12px;
    border: 1px solid rgba(82, 82, 82, 0.8);
    display: block;
}
/* ************ */

#footer {
    background-color: var(--blue);
}