/* MAIN TITLE */

.title-container {
    width: 100%;
    height: 140px;
    display: flex;
    background-color: var(--blue);
}


.main-title {
    font-size: 42px;
    color: var(--white);
    margin: auto;
    font-weight: 350;
}

/*   *****   */


/* WRITE UP CONTAINER */

#content {
    background-color: var(--red);
    min-height: 80%;
}



.content-container {
    width: 100%;
    background-color: var(--red);
}


.writeup-tag {
    min-height: 180px;
    display: flex;
    padding: 20px 80px;
    text-decoration: none;
    cursor: pointer;
    justify-content: space-between;
}


.writeup-tag + .writeup-tag {
    border-top: 1px solid #cccc;
}

.writeup-tag:hover {
    opacity: 0.8;
}

.img-container {
    width: 30%;
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    background-size: cover;
    border-radius: 10px;
}



.info-container {
    width: 70%;
    display: flex;
    padding-left: 40px;
    flex-wrap: wrap;
}


.info-container h1, .info-container p, .info-container div {
    width: 100%;
    color: var(--white);
    font-weight: 400;
}

.info-container .description {
    font-size: 20px;
}


.info-container .date::after {
    content: "—";
    display: inline-block;
    padding-left: 10px;
}

.more-btn {
    padding: 0 80px;
    padding-bottom: 20px;
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
}


.more-btn:hover {
    opacity: 0.8;
}

/*      *********    */